{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>dans son amour!</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
        <form action="/App/Feeling" method="GET">
                <label>Share you 'amour' feeling : </label>
                <input type="text" name="feel" /><br/>
                <input type="submit" value="Share!" />
        </form>
    </div>
  </div>
</div>

{{template "footer.html" .}}
